@import url('https://fonts.googleapis.com/css?family=Pacifico|Righteous|Roboto');

*{
    margin: 0px;
    padding: 0px;
  }
  
  /* The HTML body */
  body{
    background-color: rgb(159, 198, 151);
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
  }

  /* The container */
  
  .container{
    text-align: center;
    
    float: left;

    width: 100vw;
    height: auto;
  }
  

  /* The main image */

  #main-image{
    margin-top: 25vh;

    max-width: 1000px;
    width: 70%;
  }

  /* The banner */
  
  #banner{ 
    width: 100vw;
    height: 150px;

    float: left;
  }
  
  #banner img{
    width: 100vw;
    height: 200px;

    object-fit: cover;
  
    mask:-moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    mask: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    mask: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    -webkit-mask: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    -webkit-mask: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    -webkit-mask: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    z-index: -1;
  }
  
  #banner h1{
    color: white;
  
    position: absolute;
    
    top: 95px;
    left: 50%;
    
    transform: translate(-50%, -91%);
  }
  
  /* The info card */
  
  #info-card{
    
    position: absolute;
    text-align: left;
    
    width: 100vw;
    height: auto;

    min-height: 100%;

    background-color: rgba(0, 0, 0, 0.8);
  }
  
  #card{
    
    min-width: 350px;
    min-height: 2.5%;
  
    left: 34%;
    top: 32%;
  
    margin-top: 150px;
    margin-left: 30%;
    margin-right: 30%;

    background-color: white;
  
    border-radius: 15px;
  }
  
  #card h1{ margin: 10px; }
  #card p { 
    margin-left: 10px;
    margin-right: 10px;
  }

  #card-img{
    position: relative;

    margin-top: 10%;
    margin-left: 66%;
    margin-bottom: 10px;

    max-width: 250px;

    width: 33%;
  }

  .cardbtn{
    position: absolute;
    right: 1%;
    bottom: 1%;

    color: white;
  }


  @media screen and (max-width: 500px) {
    
    /* The info card */
    #card{ 
      margin: 0px;
      min-width: 50px;
      height: auto;
      min-height: 100vh;
    }
  }