@font-face {
    font-family: 'Market_Deco';
    src: url('Market_Deco/Market_Deco.eot');
    src: url('Market_Deco/Market_Deco.eot') format('embedded-opentype'),
         url('Market_Deco/Market_Deco.woff2') format('woff2'),
         url('Market_Deco/Market_Deco.woff') format('woff'),
         url('Market_Deco/Market_Deco.ttf') format('truetype'),
         url('Market_Deco/Market_Deco.svg#Market_Deco') format('svg');
}
